:root {
  --primary-color: #0070f3;
  --secondary-color: #045fc7;
}

.notes-container {
  padding: 15px;
  text-align: center;
}

.notes-list-container {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.notes-form {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.notes-input {
  border-radius: 0.7em;
  border: 2px solid #ccc7;
  padding: 0.6em 1em;
  outline: none;
  width: 100%;
  max-width: 500px;
  transition: all 0.3s ease-in;
  transition-property: border-color, box-shadow;
}

.notes-btn {
  width: 100%;
  max-width: 500px;
  border-radius: 0.7em;
  border: none;
  padding: 0.6em 1em;
  background-color: gold;
  color: #fff;
  transition: all 0.4s ease-in;
  transition-property: background-color, box-shadow;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: bold;
}

.notes-error {
  margin: 0;
  color: crimson;
  font-weight: bold;
}

.notes-item {
  background-color: var(--primary-color);
  color: white;
  border-radius: 0.7em;
  transition: all 0.4s ease-in;
  transition-property: background-color, box-shadow;
}

.notes-item p {
  font-size: 1.1em;
}

.notes-btn:hover {
  cursor: pointer;
  background-color: goldenrod;
  box-shadow: 0 2px 8px 0 #ffd90085;
}

.notes-item:hover {
  cursor: pointer;
  background-color: #252525;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.notes-input:focus {
  border-color: var(--primary-color);
  box-shadow: 2px 2px 5px #0071f344;
}
